---
---

<table>
  <tr>
    <td>발주기관</td>
    <td>국가철도공단</td>
  </tr>
  <tr>
    <td>연구수행기관</td>
    <td>서울시립대학교</td>
  </tr>
  <tr>
    <td>조사문의처</td>
    <td>서울시립대학교 장진원 연구원</td>
  </tr>
  <tr>
    <td>전화</td>
    <td>010-6479-9204</td>
  </tr>
  <tr>
    <td>이메일</td>
    <td>jang_jinwon@naver.com</td>
  </tr>
</table>

<style>
  @import "tailwindcss";

  table {
    @apply table-auto border text-sm text-center;
  }

  td {
    @apply border px-3 py-0.5;
  }
</style>
